{% extends 'layout.html' %}
{% load static %}
{% block product_page %}
<!DOCTYPE html>
<html lang="en">
<body>
    <div class="container-sm text-center">
        {% for item in data %}
        <div class="card">
            <img src="{{ item.image_url }}" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">Cost: ${{ item.cost }}</p>
              <button class="btn btn-outline-dark" onclick="addToCart({{item.product_id}})">Add to Cart</button>
            </div>  
        </div>
    {% endfor %}
    </div>
</body>
{% endblock %}
</html>


  

