.card {
    background-color: #d3a20275;
    text-align: center;
    margin: 10%;
    padding: 5%;
    padding-top: 10%;
    align-items: center;
}

.category-title {
    text-align: center;
    margin-top: 4%
}

